.flex-row {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.flex-row:hover {
  background-color: #e3fcee !important;
}

.job-details-wrapper {
  width: 100%;
  border-bottom: 1px solid black;
}
